<div class="w-[100%] h-[400px] mt-[100px] bg-[#2B383B] text-[white] flex flex-col items-center justify-center gap-11">
    <p>Connect With <span class="text-[#ED5724]">Us</span></p>
    <div class="flex gap-3">
        <div class="w-[35px] h-[35px] flex justify-center items-center cursor-pointer bg-[white] rounded-xl">
            <img width="30" src="../../assets/images/facebook.png" alt="">
        </div>
        <div class="w-[35px] h-[35px] flex justify-center items-center cursor-pointer bg-[white] rounded-xl">
            <img width="25" src="../../assets/images/instagram.png" alt="">
        </div>
        <div class="w-[35px] h-[35px] flex justify-center items-center cursor-pointer bg-[white] rounded-xl">
            <img width="25" src="../../assets/images/twitter-sign.png" alt="">
        </div>
        <div class="w-[35px] h-[35px] flex justify-center items-center cursor-pointer bg-[white] rounded-xl">
            <img width="25" src="../../assets/images/linkedin.png" alt="">
        </div>
        <div class="w-[35px] h-[35px] flex justify-center items-center cursor-pointer bg-[white] rounded-xl">
            <img width="25" src="../../assets/images/github.png" alt="">
        </div>
    </div>
    <p>Nisset <span class="text-[#ED5724]">S.R</span> © 2022 All Rights Reserved.</p>
</div>
