<div class="w-[300px] h-[300px] bg-[white] overflow-auto shadow-md flex flex-col text-center items-center">
    <div class="relative">
        <div class="w-[100%]">
            <div class="w-[80%] h-[70%] absolute bg-[#00000049] left-[10%]">

            </div>
            <img [src]="school.coverImage" alt="" width="80%" class="mx-auto mt-2 object-contain">
        </div>
        <img [src]="school.logo" width="80px" alt="" class="absolute bottom-0 left-[50%] translate-x-[-50%]">
    </div>
    <h1 class="">{{school.name}}</h1>
    <button class="bg-[#ED5724] px-2 py-1 mt-2 text-[white] rounded-md shadow-md active:scale-95">Learn More</button>
</div>
