<div class="p-[20px] flex flex-col items-center">
    <div class="w-[100%]">
        <h1 class="un-title text-[#ED5724] text-xl">សាកលវិទ្យាល័យភូមិន្ទភ្នំពេញ</h1>
        <h1 class="mb-10">The Royal University of Phnom Penh</h1>
    </div>
    <div class="w-[100%] border-[#ed562471] border-2 mb-10 shadow-lg shadow-[#ed562450]">
        <img class="w-[100%] sm:w-[80%] xl:w-[60%] mx-auto" src="../../assets/images/ruppImg1.jpg" alt="">
    </div>
    <p class="un-title mb-10 font-bold text-[#ed5624]">រូបភាពសាកល៖</p>
    <div class="gap-2 shadow-lg grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 w-[80%]   place-items-center">
        <div class="border-[#ed5624] border-2">
            <img class="w-[250px] h-[200px] object-cover" src="../../assets/images/rupp2.jpg" alt="">
        </div>
        <div class="border-[#ed5624] border-2">
            <img class="w-[250px] h-[200px] object-cover" src="../../assets/images/ifl.jfif" alt="">
        </div>
        <div class="border-[#ed5624] border-2">
            <img class="w-[250px] h-[200px] object-cover" src="../../assets/images/rupp3.jpg" alt="">
        </div>
        <div class="border-[#ed5624] border-2">
            <img class="w-[250px] h-[200px] object-cover" src="../../assets/images/rupp4.jpg" alt="">
        </div>
        <div class="border-[#ed5624] border-2">
            <img class="w-[250px] h-[200px] object-cover" src="../../assets/images/rupp5.png" alt="">
        </div>
        <div class="border-[#ed5624] border-2">
            <img class="w-[250px] h-[200px] object-cover" src="../../assets/images/ruppImg1.jpg" alt="">
        </div>
    </div>
</div>
