<div class="p-[20px] flex flex-col items-center">
    <div class="w-[100%]">
        <h1 class="un-title text-[#ED5724] text-xl">សាកលវិទ្យាល័យភូមិន្ទភ្នំពេញ</h1>
        <h1 class="mb-10">The Royal University of Phnom Penh</h1>
    </div>
    <div class="w-[100%] border-[#ed562471] border-2 mb-10 shadow-lg shadow-[#ed562450]">
        <img class="w-[100%] sm:w-[80%] xl:w-[60%] mx-auto" src="../../assets/images/ruppImg1.jpg" alt="">
    </div>
    <p class="un-title mb-10 font-bold text-[#ed5624]">រូបភាពសាកល៖</p>
    <div class="gap-2 shadow-lg grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 w-[80%]   place-items-center">
        <div class="border-[#ed5624] border-2">
            <img class="w-[250px] h-[200px] object-cover" src="../../assets/images/rupp2.jpg" alt="">
        </div>
        <div class="border-[#ed5624] border-2">
            <img class="w-[250px] h-[200px] object-cover" src="../../assets/images/ifl.jfif" alt="">
        </div>
        <div class="border-[#ed5624] border-2">
            <img class="w-[250px] h-[200px] object-cover" src="../../assets/images/rupp3.jpg" alt="">
        </div>
        <div class="border-[#ed5624] border-2">
            <img class="w-[250px] h-[200px] object-cover" src="../../assets/images/rupp4.jpg" alt="">
        </div>
        <div class="border-[#ed5624] border-2">
            <img class="w-[250px] h-[200px] object-cover" src="../../assets/images/rupp5.png" alt="">
        </div>
        <div class="border-[#ed5624] border-2">
            <img class="w-[250px] h-[200px] object-cover" src="../../assets/images/ruppImg1.jpg" alt="">
        </div>
    </div>
    <p class="title mt-5">សាកលវិទ្យាល័យភូមិន្ទភ្នំពេញ ឬ RUPP ជាសាកលវិទ្យាល័យមួយដែលមានអាយុកាលចំណាស់នៅក្នុងប្រទេស កម្ពុជា។ សាកលវិទ្យាល័យមានមុខជំនាញអោយនិស្សិតជ្រើសរើសជាច្រើនក្នុងចំណោម៥មហាវិទ្យាល័យ និង១ វិទ្យាស្ថាន ដែលក្នុងនោះរួមមាន៖</p>
    <h1 class="mb-10 w-full un-title text-[#ed5624]">សម្រាប់ថ្នាក់បរិញ្ញាបត្ររួមមាន៖</h1>
    <div class="w-[90%] bg-[#ed562425] p-5">
        <h1 class="un-title text-[#ed5624]"> មហាវិទ្យាល័យវិទ្យាសាស្ត្រ Faculty of Science: </h1>
        <ul class="list-disc">

            <li>បរិញ្ញាបត្រគិណិតវិទ្យា Bachelor of Science in Mathematics </li>
            <li> បរិញ្ញាបត្រជីវវិទ្យាទូទៅ Bachelor of Science in General Biology </li>
            <li> បរិញ្ញាបត្រគីមីវិទ្យា Bachelor of Science in Chemistry </li>
            <li> បរិញ្ញាបត្រជីវៈគឺមីវិទ្យា Bachelor of Science in Biochemistry </li>
            <li> បរិញ្ញាបត្រជីវៈគឺមីវិទ្យា Bachelor of Science in Biochemistry </li>
            <li>បរិញ្ញាបត្ររូបវិទ្យា Bachelor of Science in Physics </li>
            <li> បរិញ្ញាបត្រវិទ្យាសាស្ត្រកុំព្យូទ័រ និងវិស្វកម្ម Bachelor of Science in Computer Science and Engineering</li>
            <li> បរិញ្ញាបត្រវិទ្យាសាស្ត្របរិស្ថាន Bachelor of Science in Environmental Science</li>
        </ul>
        <h1 class="un-title text-[#ed5624]">មហាវិទ្យាល័យវិទ្យាសាស្ត្រសង្គម និងមនុស្សសាស្ត្រ Faculty of Social Science and Humanities</h1>
        <ul class="list-disc">
            <li> បរិញ្ញាបត្រអក្សរសាស្ត្រខ្មែរ Bachelor of Arts in Khmer Literature </li>
            <li>បរិញ្ញាបត្រចិត្តវិទ្យា Bachelor of Arts in Tourism </li>
            <li>បរិញ្ញាបត្រគ្រប់គ្រងដីធ្លី និងភូមិសាស្រ្ត Bachelor of Arts in Geography and Land Management</li>
            <li>បរិញ្ញាបត្រប្រព័ន្ធផ្សព្វផ្សាយ និងទំនាក់ទំនង Bachelor of Arts in Media and Communication</li>
            <li>បរិញ្ញាបត្រទេសចរណ៍ Bachelor of Arts in Tourism</li>
            <li> បរិញ្ញាបត្រសង្គមវិទ្យា Bachelor of Arts in Sociology </li>
            <li> បរិញ្ញាបត្រទស្សនៈវិជ្ជា Bachelor of Arts in Sociology </li>
            <li> បរិញ្ញាបត្រការងារសង្គម Bachelor of Arts in Social Work </li>
            <li> បរិញ្ញាបត្រគ្រប់គ្រងធុរៈកិច្ចអន្តរជាតិ Bachelor of Arts in International Business Management (IBM)</li>
            <li> បរិញ្ញាបត្រភាសាវិទ្យា Bachelor of Arts in Linguistics</li>
        </ul>
        <h1 class="un-title text-[#ed5624]"> មហាវិទ្យាល័យសិក្សាអភិវឌ្ឍន៍ Faculty of Development </h1>
        <ul class="list-disc">
            <li>Studies បរិញ្ញាបត្រអភិវឌ្ឍន៍សហគមន៍ Bachelor of Arts in Community Development</li>
            <li>បរិញ្ញាបត្រគ្រប់គ្រង និងអភិវឌ្ឍន៍ធនធានធម្មជាតិ Bachelor of Arts in Natural Resource Management and Development</li>
            <li> បរិញ្ញាបត្រសេដ្ឋកិច្ចអភិវឌ្ឍន៍ Bachelor of Arts in Economic Development</li>
        </ul>
        <h1 class="un-title text-[#ed5624]"> មហាវិទ្យាល័យអប់រំ Faculty of Education </h1>
        <ul class="list-disc">
            <li>
                បរិញ្ញាបត្រសិក្សាអប់រំ Bachelor of Arts in Educational Studies
            </li>
            <li>បរិញ្ញាបត្រគ្រប់គ្រង និងអភិវឌ្ឍន៍ឧត្តមសិក្សា Bachelor of Arts in Higher Education </li>
            <li> បរិញ្ញាបត្រការអប់រំពេញមួយជីវិត Bachelor of Arts in Lifelong Learning</li>
        </ul>
        <h1 class="un-title text-[#ed5624]"> មហាវិទ្យាល័យវិស្វកម្ម Faculty of Engineering </h1>

        <ul class="list-disc">
            <li>បរិញ្ញាបត្រវិស្វកម្មព័ត៌មានវិទ្យា Bachelor of Information Technology Engineering </li>
            <li>បរិញ្ញាបត្រវិស្វកម្មទូរគមនាគមន៍ និងអេឡិចត្រនិច Bachelor of Telecommunication and Electronic Engineering</li>
            <li>បរិញ្ញាបត្រវិស្វកម្មជីវសាស្ត្រ Bachelor of Bio-Engineering</li>


        </ul>
        <h1 class="un-title text-[#ed5624]"> វិទ្យាស្ថានភាសាបរទេស Institute of Foriegn Langauges </h1>
        <ul class="list-disc">
            <li>បរិញ្ញាបត្រភាសាអង់គ្លេស Bachelor of Arts in English for Works Skills </li>
            <li>បរិញ្ញាបត្រអប់រំ Bachelor of Education (TEFL) </li>
            <li>បរិញ្ញាបត្រភាសាបារាំង Bachelor of Arts in French </li>
            <li>បរិញ្ញាបត្រភាសាជប៉ុន Bachelor of Arts in Japanese </li>
            <li>បរិញ្ញាបត្រភាសាកូរ៉េ Bachelor of Arts in Korean </li>
            <li>បរិញ្ញាបត្រភាសាចិន Bachelor of Arts in Chinese</li>
            <li>បរិញ្ញាបត្រភាសាថៃ Bachelor of Arts in Thai</li>
        </ul>
    </div>
    <h1 class="my-10 w-full un-title  text-[#ed5624]">សម្រាប់ថ្នាក់អនុបណ្ឌិតរួមមាន៖</h1>
    <div class="w-[90%] bg-[#ed562425] p-5">
        <ul class="list-disc">

            <li>អនុបណ្ឌិតផ្នែកអភិរក្សជីវៈចម្រុះ Master of Science in Biodiversity Conservation </li>
            <li>អនុបណ្ឌិតផ្នែកសិក្សាអភិវឌ្ឍន៍ Master of Development Studies </li>
            <li>អនុបណ្ឌិតផ្នែកគីមីវិទ្យា Master of Chemistry អនុបណ្ឌិតផ្នែកគណិតវិទ្យា Master of Mathematics</li>
            <li>អនុបណ្ឌិតផ្នែកចិត្តវិទ្យា និងប្រឹក្សាយោបល់ Master of Psychology and Counseling </li>
            <li>អនុបណ្ឌិតផ្នែកវិស្វកម្មព័ត៌មានវិទ្យា Master of IT Engineering </li>
            <li>អនុបណ្ឌិតផ្នែកអប់រំ Master of Education អនុបណ្ឌិតផ្នែកភាសាវិទ្យា Master of Arts in Linguistics</li>
            <li>អនុបណ្ឌិតផ្នែកទស្សនៈវិទ្យា Master of Philosophy </li>
            <li> អនុបណ្ឌិតផ្នែករូបវិទ្យា Master of Physics អនុបណ្ឌិតផ្នែកការងារសង្គម Master of Arts in Social Work </li>
            <li>អនុបណ្ឌិតផ្នែកសង្គមវិទ្យា Master of Sociology អនុបណ្ឌិតផ្នែកបង្រៀន – Master of Arts in TESOL </li>
            <li> អនុបណ្ឌិតផ្នែកគ្រប់គ្រងទេសចរណ៍ និងធនធាន A. Program in Tourism and Resource Management </li>
            <li> អនុបណ្ឌិតផ្នែកវិទ្យាសាស្ត្របកប្រែ Master of Translation Science </li>
            <li>អនុបណ្ឌិតផ្នែកអក្សរសាស្ត្រខែ្មរ Master of Arts in Khmer Literature </li>
            <li> អនុបណ្ឌិតផ្នែកបម្រែបម្រួលអាកាសធាតុ Master of Science in Climate Change</li>
        </ul>
    </div>
    <h1 class="my-10 w-full un-title  text-[#ed5624]">សម្រាប់ព័ត៌មានលម្អិត៖</h1>
    <div class="w-[90%] bg-[#ed562425] p-5">
        <ul class="list-disc">


            <li> RUPP Official Web: http://www.rupp.edu.kh/</li>
            <li>RUPP Official Email: iroffice(at)rupp.edu.kh</li>
            <li>Tel: 855-23-883-640 RUPP Official</li>
            <li>FB page: RUPP – Royal University of Phnom Penh</li>
        </ul>
    </div>
</div>
