<div class="hover:shadow-[#ED5724] active:scale-95 hover:scale-105 duration-500 w-[300px] h-[350px] bg-[white] shadow-xl flex flex-col items-center rounded-md cursor-pointer">
    <div class="w-[150px] h-[150px] bg-[white] shadow-2xl rounded-[50%] mb-10">

    </div>
    <p>Your Name</p>
    <p>example@gmail.com</p>
    <p>position</p>
    <div class="flex gap-4">
        <div class="cursor-pointer"><img width="30" src="../../assets/images/facebook.png" alt=""></div>
        <div class="cursor-pointer"><img width="30" src="../../assets/images/instagram.png" alt=""></div>
        <div class="cursor-pointer"><img width="30" src="../../assets/images/twitter-sign.png" alt=""></div>
    </div>
</div>
