<div class="w-[100%] h-[300px] bg-[white] left-0 shadow-lg flex sm:hidden justify-center items-center">
    <ul class="flex flex-col justify-center items-center gap-10">
        <li>
            <a routerLinkActive="text-[#ED5724]" href="#" routerLink="home" class="p-[20px] font-semibold">Home</a>
        </li>
        <li>
            <a routerLinkActive="text-[#ED5724]" href="#" routerLink="university" class="p-[20px] font-semibold">University</a>
        </li>
        <li>
            <a routerLinkActive="text-[#ED5724]" href="#" routerLink="about-us" class="p-[20px] font-semibold">About US</a>
        </li>

    </ul>
</div>